.preview {
  display: flex;
  flex-direction: column;
  background: no-repeat url("/public/coffeeBeans.png");
  background-position: right top;
  background-size: 55%;
  width: 100%;
  background-color: var(--whiteСhocolate);
}

.textWithImage {
  display: flex;
  padding-left: 245px;
}

.textWrapper {
  margin-top: 75px;
}

.title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 48px;
  color: var(--milkCoffee);
  letter-spacing: 0.05em;
}

.subTitle {
  margin-top: 32px;
  text-transform: uppercase;
  font-size: 26px;
  font-family: var(--OpenSans300);
  color: var(--milkCoffee);
  letter-spacing: 0.05em;
}

.button {
  margin-top: 80px;
  width: 322px;
  height: 68px;
  border-radius: 7px;
  background: var(--milkChocolate);
  outline: none;
  border: none;
  font-size: 16px;
  color: var(--whiteСhocolate);
  font-family: var(--OpenSans300);
  cursor: pointer;
}

.coffeeBeans {
  height: 413px;
}

.chevronWrapper {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.chevron {
  cursor: pointer;
}

.weekOffers {
  display: flex;
  flex-direction: column;
  padding: 0 245px;
  margin-bottom: 87px;
}

.offerTitle {
  margin-top: 90px;
  text-transform: uppercase;
  font-family: var(--OpenSans400);
  letter-spacing: 0.05em;
  margin-bottom: 70px;
  color: var(--milkCoffee);
}

.imagesWrapper {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 30px;
}

.offerImage {
  margin: 0;
  padding: 0;
  width: 350px;
  height: 216px;
  border-radius: 10px;
}
