.header {
  align-items: center;
  background-color: var(--whiteСhocolate);
}

.headerContent {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title {
  letter-spacing: 0.985em;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--milkCoffee);
}

.linksWrapper {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 40px;
}

.link {
  grid-gap: 60px;
  font-size: 16px;
  font-weight: 300;
  color: var(--milkCoffee);
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 27px;
  cursor: pointer;
  color: var(--whiteСhocolate);
  background-color: var(--milkChocolate);
  border: none;
  outline: none;
  border-radius: 4px;
}

.cartIcon {
  width: 15px;
  height: 13px;
}
