.footer {
  width: 100%;
  background-color: var(--milkCoffee);
}

.content {
  display: flex;
  flex-direction: row;
  padding: 100px 245px;
}

.title {
  letter-spacing: 0.985em;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--whiteСhocolate);
}

.linksWrapper {
  margin-left: 150px;
  display: grid;
  grid-template-rows: repeat(6, auto);
  grid-auto-columns: repeat(2, auto);
  grid-auto-flow: column;
  grid-gap: 33px;
  width: 370px;
}

.link {
  outline: none;
  text-decoration: none;
  font-family: var(--OpenSans300);
  font-size: 16px;
  letter-spacing: 0.05em;
  color: var(--whiteСhocolate);
}

.contacts {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.makeOrder {
  width: 230px;
  height: 57px;
  border: none;
  border: 1px solid var(--whiteСhocolate);
  background: none;
  border-radius: 10px;
  font-family: var(--OpenSans300);
  color: var(--whiteСhocolate);
  font-size: 14px;
  letter-spacing: 0.05em;
}

.phone {
  letter-spacing: 0.05em;
  margin-top: 30px;
  font-family: var(--OpenSans300);
  color: var(--whiteСhocolate);
  font-size: 14px;
  text-decoration: none;
}

.mail {
  letter-spacing: 0.05em;
  margin-top: 30px;
  font-family: var(--OpenSans300);
  color: var(--white);
  font-size: 14px;
  text-decoration: none;
}
