@font-face {
  font-family: OpenSans;
  src: url("./fonts/OpenSans.ttf");
}

@font-face {
  font-family: OpenSans300;
  src: url("./fonts/OpenSans300.ttf");
}

@font-face {
  font-family: OpenSans400;
  src: url("./fonts/OpenSans400.ttf");
}

:root {
  --primaryFont: OpenSans, sans-serif;
  --OpenSans300: OpenSans300, sans-serif;
  --OpenSans400: OpenSans400, sans-serif;
  --whiteСhocolate: #fff9d8;
  --milkCoffee: #624530;
  --milkChocolate: #9a6137;
  --white: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--primaryFont);
}
